h1{color:gold;
    text-align: center;
    text-transform: uppercase;

}
h3{
    color:brown
}
body{
    background-color:rgb(110, 140, 195);
}
button{
    background-color:goldenrod;
    
}
p{
    text-align: center;
    
}